<div class="imagen-grande">
    <div class="imagen">
        <img src="assets/images/principal.jpg" alt="Logo" class="full-width-image">
    </div>
</div>


<hr class="wide-line">


<div class="contenedor">
    <div class="texto">
        <img src="assets/images/logo_2.jpg" alt="" class="tamano-imagen">
        <span>
            <b>Bienvenido a la unexpected</b>
        </span>
    </div>
    <div class="texto">
        <img src="assets/images/logo_2.jpg" alt="" class="tamano-imagen">
        <span>
            <b>
                En la unexpected, nos dedicamos a la venta de productos de alta calidad, con el objetivo de satisfacer
                las necesidades de nuestros clientes. Nuestro equipo de profesionales se esfuerza por ofrecer un
                servicio excepcional y una experiencia de compra inigualable. ¡Descubre todo lo que tenemos para ti!
            </b>
        </span>
    </div>
    <div class="texto">
        <img src="assets/images/logo_2.jpg" alt="" class="tamano-imagen">
        <span>
            <b>¡Te esperamos!</b>
        </span>
    </div>
</div>