<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid justify-content-center">
        <ul class="navbar-nav">
            <!-- Primera mitad de los iconos -->
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fas fa-home"></i> Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/aplitacionForm"><i class="fas fa-edit"></i> Aplicar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fas fa-chart-bar"></i> Estadisticas</a>
            </li>
        </ul>

        <!-- Logo en el centro -->
        <a class="navbar-brand mx-5" href="#">
            <img src="assets/images/LOGO.png" alt="Logo" width="60" height="60">
        </a>

        <ul class="navbar-nav">
            <!-- Segunda mitad de los iconos -->
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fas fa-users"></i> Roster</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fas fa-calendar-alt"></i> Calendario</a>
            </li>
        </ul>
    </div>
</nav>